body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headertop{
    display: flex;
    color: #e5e7eb; 
    background-color: #1f2937;
    position: sticky;
    padding: 0px 15% 0px 15%;

}

.headertop > button {
    background-color: #1f2937;
    color: #e5e7eb;
    transition: hover; 
    border: 0;
    opacity: 0.8;
}

.headertop > button:hover {
    opacity: 1;
}

.headertop > .headerlogo {
    color: white;
    flex: 1;

}

.afterheadertop{
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;

}

.afterheadertop > img {
    width: 500px;
    height: 250px;
    margin: auto 0px 75px 100px;
    border-radius: 25px;

}

.awesome {
    flex: 1;
    justify-content: flex-start;
    align-items: left;
    margin-bottom: 20px;.
}

.awesome > h1 {
    font-family: sans-serif;

}

.awesome > button {
    background-color: #3882f6;
    color: white;
    padding: 6px 20px 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    border: white solid;
}

.randominfo{
    text-align: center;
}

.indexbody {
    color: #1f2937;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style-type: none;
}


ul {
    display: flex;
    list-style: none;
}

li > img {
    width: 150x;
    height: 150px;
    margin-left: 25px;
    border: #3882f6 2px solid;
    border-radius: 8px;
}

.quote {
    font-size: 24px;
    background-color: #e5e7eb; 
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 175px 0px 175px;
    

}

.quote > .quote1 {
    padding: 0% 20% 0 20%;
    overflow: hidden;
}

.quote > .alan {
    font-size: 40px;
    color: #1f2937;
    margin: 10px 0px 0px 40%;
    
}

.ending {
    color: #f9faf8;
    background-color: #3882f6;
    height: 8%;
    width: 40%;
    margin: 5% 0px 5% 31%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;

}


.ending > .calltoaction {
    margin: 0px 30px 20px 30px;
    flex: 2;
}

.ending > button {
    background-color: #3882f6;
    color: white;
    border: white solid;
    padding: 6px 8px 6px 8px;
    font-weight: bold;
    border-radius: 8px;
    flex: 1;
    margin-right: 20px;
}

.footer {
    height: 75px;
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trademark {
    color: white;
    font-size: 16px;
}